<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>TimeLine</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 12}</string>
			<key>spriteSourceSize</key>
			<string>{128, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 558}, {12, 128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>add</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 31}</string>
			<key>spriteSourceSize</key>
			<string>{30, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{543, 189}, {30, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>angel</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {183, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{183, 148}</string>
			<key>spriteSourceSize</key>
			<string>{183, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 411}, {183, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arrow</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 50}</string>
			<key>spriteSourceSize</key>
			<string>{43, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{307, 158}, {50, 43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bag1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 38}, {47, 39}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{47, 39}</string>
			<key>spriteSourceSize</key>
			<string>{59, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 468}, {39, 47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bag2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 34}, {37, 47}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{37, 47}</string>
			<key>spriteSourceSize</key>
			<string>{59, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 558}, {37, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bag3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 18}, {35, 67}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{35, 67}</string>
			<key>spriteSourceSize</key>
			<string>{59, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 648}, {35, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bag4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 11}, {33, 77}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{33, 77}</string>
			<key>spriteSourceSize</key>
			<string>{59, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{459, 154}, {77, 33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>banditItem</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 24}, {86, 114}}</string>
			<key>spriteOffset</key>
			<string>{-2, -6}</string>
			<key>spriteSize</key>
			<string>{86, 114}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{625, 546}, {86, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>banditcarItem</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 35}, {104, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{104, 86}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{773, 204}, {104, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bar</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 36}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{-1, -11}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 561}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>casino</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 16}, {98, 122}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{98, 122}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 733}, {98, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chief</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 18}, {78, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{78, 120}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848, 2}, {120, 78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>closeButton</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 39}</string>
			<key>spriteSourceSize</key>
			<string>{39, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 517}, {39, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>coin1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 23}, {47, 41}}</string>
			<key>spriteOffset</key>
			<string>{-6, -5}</string>
			<key>spriteSize</key>
			<string>{47, 41}</string>
			<key>spriteSourceSize</key>
			<string>{77, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 419}, {41, 47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>coin2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 17}, {43, 43}}</string>
			<key>spriteOffset</key>
			<string>{-8, -0}</string>
			<key>spriteSize</key>
			<string>{43, 43}</string>
			<key>spriteSourceSize</key>
			<string>{77, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{359, 158}, {43, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>coin3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {47, 55}}</string>
			<key>spriteOffset</key>
			<string>{-5, 6}</string>
			<key>spriteSize</key>
			<string>{47, 55}</string>
			<key>spriteSourceSize</key>
			<string>{77, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 158}, {55, 47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>coin4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 17}, {33, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 43}</string>
			<key>spriteSourceSize</key>
			<string>{77, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 154}, {43, 33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>coin5</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 23}, {39, 37}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{39, 37}</string>
			<key>spriteSourceSize</key>
			<string>{77, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 607}, {37, 39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>demon</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 136}</string>
			<key>spriteSourceSize</key>
			<string>{147, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{599, 2}, {147, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>department</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 17}, {108, 122}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{108, 122}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{599, 140}, {122, 108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>detective</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 23}, {78, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, -4}</string>
			<key>spriteSize</key>
			<string>{78, 112}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{707, 436}, {112, 78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>family</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 25}, {100, 110}}</string>
			<key>spriteOffset</key>
			<string>{-2, -5}</string>
			<key>spriteSize</key>
			<string>{100, 110}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 558}, {110, 100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>fbi</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 23}, {80, 114}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{80, 114}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{841, 100}, {114, 80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gangster</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 24}, {76, 112}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{76, 112}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{879, 182}, {112, 76}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>generator</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {208, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{208, 203}</string>
			<key>spriteSourceSize</key>
			<string>{208, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 214}, {208, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>generator-free</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {208, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{208, 145}</string>
			<key>spriteSourceSize</key>
			<string>{208, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 411}, {208, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>girlItem</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 24}, {62, 116}}</string>
			<key>spriteOffset</key>
			<string>{4, -7}</string>
			<key>spriteSize</key>
			<string>{62, 116}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{723, 140}, {116, 62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>godfather</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 21}, {88, 112}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{88, 112}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 561}, {88, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunItem</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 30}, {82, 102}}</string>
			<key>spriteOffset</key>
			<string>{-1, -6}</string>
			<key>spriteSize</key>
			<string>{82, 102}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{439, 322}, {102, 82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>heaven</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{146, 153}</string>
			<key>spriteSourceSize</key>
			<string>{146, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 578}, {146, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hell</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {154, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{154, 156}</string>
			<key>spriteSourceSize</key>
			<string>{154, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 2}, {156, 154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>inian</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 663}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>jokerItem</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 21}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{655, 250}, {116, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minister</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 26}, {102, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{102, 110}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{543, 250}, {110, 102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>moneyItem</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 41}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{84, 78}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{819, 292}, {84, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pause</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 48}</string>
			<key>spriteSourceSize</key>
			<string>{49, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 154}, {49, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>police</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 24}, {98, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{98, 114}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{509, 558}, {114, 98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>policecar</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 37}, {92, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, -7}</string>
			<key>spriteSize</key>
			<string>{92, 90}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{607, 454}, {92, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>policeman</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 24}, {86, 110}}</string>
			<key>spriteOffset</key>
			<string>{-2, -4}</string>
			<key>spriteSize</key>
			<string>{86, 110}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{707, 348}, {110, 86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>president</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 23}, {102, 116}}</string>
			<key>spriteOffset</key>
			<string>{-2, -6}</string>
			<key>spriteSize</key>
			<string>{102, 116}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{439, 204}, {102, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>prison</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 22}, {98, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{98, 116}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 733}, {98, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>question</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 94}</string>
			<key>spriteSourceSize</key>
			<string>{63, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{957, 82}, {63, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>selection</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 98}</string>
			<key>spriteSourceSize</key>
			<string>{98, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{607, 354}, {98, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sergeant</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 30}, {96, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{96, 98}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{748, 2}, {98, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>starItem</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 24}, {74, 104}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{74, 104}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 660}, {74, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stock</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {225, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{225, 195}</string>
			<key>spriteSourceSize</key>
			<string>{225, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 214}, {225, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stock2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {246, 210}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{246, 210}</string>
			<key>spriteSourceSize</key>
			<string>{246, 210}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {246, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>storeButton</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{189, 150}</string>
			<key>spriteSourceSize</key>
			<string>{189, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 2}, {189, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>toilet</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 157}</string>
			<key>spriteSourceSize</key>
			<string>{147, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 419}, {147, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>GameScene</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>cocos2d</string>
			<key>name</key>
			<string>cocos2d</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>cocos2d</string>
		</dict>
		<key>version</key>
		<string>1.5 GM</string>
	</dict>
</dict>
</plist>
