<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>closeButtonPosition</key>
	<string>{729, 994}</string>
	<key>imageOffsetPosition</key>
	<string>{-210, 0}</string>
	<key>itemsPositions</key>
	<array>
		<string>{384, 814}</string>
		<string>{384, 614}</string>
		<string>{384, 414}</string>
		<string>{384, 214}</string>
	</array>
	<key>pagesIndicatorPosition</key>
	<string>{384, 924}</string>
	<key>textFieldSize</key>
	<string>{400, 140}</string>
	<key>textOffsetPosition</key>
	<string>{80, 0}</string>
</dict>
</plist>
