<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<array>
		<dict>
			<key>image</key>
			<string>moneyItem</string>
			<key>item</key>
			<string>money</string>
		</dict>
		<dict>
			<key>image</key>
			<string>banditItem</string>
			<key>item</key>
			<string>bandit</string>
		</dict>
		<dict>
			<key>image</key>
			<string>banditcarItem</string>
			<key>item</key>
			<string>banditcar</string>
		</dict>
		<dict>
			<key>image</key>
			<string>prison</string>
			<key>item</key>
			<string>prison</string>
		</dict>
		<dict>
			<key>image</key>
			<string>gangster</string>
			<key>item</key>
			<string>gangster</string>
		</dict>
		<dict>
			<key>image</key>
			<string>bar</string>
			<key>item</key>
			<string>bar</string>
		</dict>
		<dict>
			<key>image</key>
			<string>casino</string>
			<key>item</key>
			<string>casino</string>
		</dict>
		<dict>
			<key>image</key>
			<string>family</string>
			<key>item</key>
			<string>family</string>
		</dict>
		<dict>
			<key>image</key>
			<string>godfather</string>
			<key>item</key>
			<string>godfather</string>
		</dict>
		<dict>
			<key>image</key>
			<string>demon</string>
			<key>item</key>
			<string>demon</string>
		</dict>
		<dict>
			<key>image</key>
			<string>hell</string>
			<key>item</key>
			<string>hell</string>
		</dict>
		<dict>
			<key>image</key>
			<string>policeman</string>
			<key>item</key>
			<string>policeman</string>
		</dict>
		<dict>
			<key>image</key>
			<string>detective</string>
			<key>item</key>
			<string>detective</string>
		</dict>
		<dict>
			<key>image</key>
			<string>policecar</string>
			<key>item</key>
			<string>policecar</string>
		</dict>
		<dict>
			<key>image</key>
			<string>sergeant</string>
			<key>item</key>
			<string>sergeant</string>
		</dict>
		<dict>
			<key>image</key>
			<string>police</string>
			<key>item</key>
			<string>police</string>
		</dict>
		<dict>
			<key>image</key>
			<string>chief</string>
			<key>item</key>
			<string>chief</string>
		</dict>
		<dict>
			<key>image</key>
			<string>department</string>
			<key>item</key>
			<string>department</string>
		</dict>
		<dict>
			<key>image</key>
			<string>minister</string>
			<key>item</key>
			<string>minister</string>
		</dict>
		<dict>
			<key>image</key>
			<string>president</string>
			<key>item</key>
			<string>president</string>
		</dict>
		<dict>
			<key>image</key>
			<string>angel</string>
			<key>item</key>
			<string>angel</string>
		</dict>
		<dict>
			<key>image</key>
			<string>heaven</string>
			<key>item</key>
			<string>heaven</string>
		</dict>
		<dict>
			<key>image</key>
			<string>jokerItem</string>
			<key>item</key>
			<string>joker</string>
		</dict>
		<dict>
			<key>image</key>
			<string>gunItem</string>
			<key>item</key>
			<string>gun</string>
		</dict>
		<dict>
			<key>image</key>
			<string>fbi</string>
			<key>item</key>
			<string>fbi</string>
		</dict>
		<dict>
			<key>image</key>
			<string>girlItem</string>
			<key>item</key>
			<string>girl</string>
		</dict>
		<dict>
			<key>image</key>
			<string>starItem</string>
			<key>item</key>
			<string>star</string>
		</dict>
		<dict>
			<key>image</key>
			<string>inian</string>
			<key>item</key>
			<string>inian</string>
		</dict>
		<dict>
			<key>image</key>
			<string>toilet</string>
			<key>item</key>
			<string>toilet</string>
		</dict>
	</array>
	<key>items</key>
	<dict>
		<key>angel</key>
		<integer>22</integer>
		<key>bandit</key>
		<integer>2</integer>
		<key>banditcar</key>
		<integer>3</integer>
		<key>bar</key>
		<integer>6</integer>
		<key>casino</key>
		<integer>8</integer>
		<key>chief</key>
		<integer>18</integer>
		<key>demon</key>
		<integer>10</integer>
		<key>department</key>
		<integer>19</integer>
		<key>detective</key>
		<integer>14</integer>
		<key>empty</key>
		<integer>0</integer>
		<key>family</key>
		<integer>7</integer>
		<key>fbi</key>
		<integer>12</integer>
		<key>gangster</key>
		<integer>5</integer>
		<key>girl</key>
		<integer>26</integer>
		<key>godfather</key>
		<integer>9</integer>
		<key>gun</key>
		<integer>24</integer>
		<key>heaven</key>
		<integer>23</integer>
		<key>hell</key>
		<integer>11</integer>
		<key>inian</key>
		<string>28</string>
		<key>joker</key>
		<integer>25</integer>
		<key>minister</key>
		<integer>20</integer>
		<key>money</key>
		<integer>1</integer>
		<key>police</key>
		<integer>17</integer>
		<key>policecar</key>
		<integer>15</integer>
		<key>policeman</key>
		<integer>13</integer>
		<key>president</key>
		<integer>21</integer>
		<key>prison</key>
		<integer>4</integer>
		<key>sergeant</key>
		<integer>16</integer>
		<key>star</key>
		<string>27</string>
		<key>toilet</key>
		<string>29</string>
	</dict>
	<key>probability</key>
	<array>
		<dict>
			<key>item</key>
			<string>money</string>
			<key>limit</key>
			<string>-1</string>
			<key>miss</key>
			<string>0</string>
			<key>probability</key>
			<string>0.712</string>
			<key>start</key>
			<string>0</string>
		</dict>
		<dict>
			<key>item</key>
			<string>bandit</string>
			<key>limit</key>
			<string>-1</string>
			<key>miss</key>
			<string>0</string>
			<key>probability</key>
			<string>0.11</string>
			<key>start</key>
			<string>0</string>
		</dict>
		<dict>
			<key>item</key>
			<string>banditcar</string>
			<key>limit</key>
			<string>-1</string>
			<key>miss</key>
			<string>0</string>
			<key>probability</key>
			<string>0.0195</string>
			<key>start</key>
			<string>0</string>
		</dict>
		<dict>
			<key>item</key>
			<string>prison</string>
			<key>limit</key>
			<string>-1</string>
			<key>miss</key>
			<string>0</string>
			<key>probability</key>
			<string>0.005</string>
			<key>start</key>
			<string>0</string>
		</dict>
		<dict>
			<key>item</key>
			<string>policeman</string>
			<key>limit</key>
			<string>-1</string>
			<key>miss</key>
			<string>0</string>
			<key>probability</key>
			<string>0.1</string>
			<key>start</key>
			<string>0</string>
		</dict>
		<dict>
			<key>item</key>
			<string>gun</string>
			<key>limit</key>
			<string>-1</string>
			<key>miss</key>
			<string>0</string>
			<key>probability</key>
			<string>0.024</string>
			<key>start</key>
			<string>0</string>
		</dict>
		<dict>
			<key>item</key>
			<string>joker</string>
			<key>limit</key>
			<string>-1</string>
			<key>miss</key>
			<string>0</string>
			<key>probability</key>
			<string>0.012</string>
			<key>start</key>
			<string>0</string>
		</dict>
		<dict>
			<key>item</key>
			<string>fbi</string>
			<key>limit</key>
			<string>-1</string>
			<key>miss</key>
			<string>0</string>
			<key>probability</key>
			<string>0.005</string>
			<key>start</key>
			<string>300</string>
		</dict>
		<dict>
			<key>item</key>
			<string>girl</string>
			<key>limit</key>
			<string>-1</string>
			<key>miss</key>
			<string>0</string>
			<key>probability</key>
			<string>0.012</string>
			<key>start</key>
			<string>150</string>
		</dict>
		<dict>
			<key>item</key>
			<string>star</string>
			<key>limit</key>
			<string>4</string>
			<key>miss</key>
			<string>250</string>
			<key>probability</key>
			<string>0.0005</string>
			<key>start</key>
			<string>250</string>
		</dict>
	</array>
	<key>score</key>
	<array>
		<dict>
			<key>item</key>
			<string>money</string>
			<key>mergeMoney</key>
			<integer>0</integer>
			<key>mergeScore</key>
			<integer>0</integer>
			<key>removeMoney</key>
			<integer>2</integer>
			<key>removeScore</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>bandit</string>
			<key>mergeMoney</key>
			<integer>5</integer>
			<key>mergeScore</key>
			<integer>30</integer>
			<key>removeMoney</key>
			<integer>2</integer>
			<key>removeScore</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>banditcar</string>
			<key>mergeMoney</key>
			<integer>10</integer>
			<key>mergeScore</key>
			<integer>100</integer>
			<key>removeMoney</key>
			<integer>5</integer>
			<key>removeScore</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>prison</string>
			<key>mergeMoney</key>
			<integer>15</integer>
			<key>mergeScore</key>
			<integer>500</integer>
			<key>removeMoney</key>
			<integer>7</integer>
			<key>removeScore</key>
			<integer>250</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>gangster</string>
			<key>mergeMoney</key>
			<integer>30</integer>
			<key>mergeScore</key>
			<integer>1500</integer>
			<key>removeMoney</key>
			<integer>15</integer>
			<key>removeScore</key>
			<integer>750</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>bar</string>
			<key>mergeMoney</key>
			<integer>50</integer>
			<key>mergeScore</key>
			<integer>4000</integer>
			<key>removeMoney</key>
			<integer>30</integer>
			<key>removeScore</key>
			<integer>2000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>casino</string>
			<key>mergeMoney</key>
			<integer>200</integer>
			<key>mergeScore</key>
			<integer>16000</integer>
			<key>removeMoney</key>
			<integer>100</integer>
			<key>removeScore</key>
			<integer>8000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>family</string>
			<key>mergeMoney</key>
			<integer>100</integer>
			<key>mergeScore</key>
			<integer>8000</integer>
			<key>removeMoney</key>
			<integer>50</integer>
			<key>removeScore</key>
			<integer>4000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>godfather</string>
			<key>mergeMoney</key>
			<integer>400</integer>
			<key>mergeScore</key>
			<integer>32000</integer>
			<key>removeMoney</key>
			<integer>200</integer>
			<key>removeScore</key>
			<integer>16000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>demon</string>
			<key>mergeMoney</key>
			<integer>1000</integer>
			<key>mergeScore</key>
			<integer>100000</integer>
			<key>removeMoney</key>
			<integer>1000</integer>
			<key>removeScore</key>
			<integer>100000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>hell</string>
			<key>mergeMoney</key>
			<integer>2000</integer>
			<key>mergeScore</key>
			<integer>200000</integer>
			<key>removeMoney</key>
			<integer>2000</integer>
			<key>removeScore</key>
			<integer>200000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>detective</string>
			<key>mergeMoney</key>
			<integer>0</integer>
			<key>mergeScore</key>
			<integer>0</integer>
			<key>removeMoney</key>
			<integer>0</integer>
			<key>removeScore</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>policecar</string>
			<key>mergeMoney</key>
			<integer>15</integer>
			<key>mergeScore</key>
			<integer>1500</integer>
			<key>removeMoney</key>
			<integer>15</integer>
			<key>removeScore</key>
			<integer>750</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>sergeant</string>
			<key>mergeMoney</key>
			<integer>30</integer>
			<key>mergeScore</key>
			<integer>3000</integer>
			<key>removeMoney</key>
			<integer>30</integer>
			<key>removeScore</key>
			<integer>1500</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>police</string>
			<key>mergeMoney</key>
			<integer>60</integer>
			<key>mergeScore</key>
			<integer>6000</integer>
			<key>removeMoney</key>
			<integer>60</integer>
			<key>removeScore</key>
			<integer>3000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>chief</string>
			<key>mergeMoney</key>
			<integer>120</integer>
			<key>mergeScore</key>
			<integer>12000</integer>
			<key>removeMoney</key>
			<integer>120</integer>
			<key>removeScore</key>
			<integer>6000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>department</string>
			<key>mergeMoney</key>
			<integer>240</integer>
			<key>mergeScore</key>
			<integer>24000</integer>
			<key>removeMoney</key>
			<integer>240</integer>
			<key>removeScore</key>
			<integer>12000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>minister</string>
			<key>mergeMoney</key>
			<integer>480</integer>
			<key>mergeScore</key>
			<integer>48000</integer>
			<key>removeMoney</key>
			<integer>480</integer>
			<key>removeScore</key>
			<integer>24000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>president</string>
			<key>mergeMoney</key>
			<integer>960</integer>
			<key>mergeScore</key>
			<integer>96000</integer>
			<key>removeMoney</key>
			<integer>960</integer>
			<key>removeScore</key>
			<integer>48000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>angel</string>
			<key>mergeMoney</key>
			<integer>2000</integer>
			<key>mergeScore</key>
			<integer>200000</integer>
			<key>removeMoney</key>
			<integer>2000</integer>
			<key>removeScore</key>
			<integer>200000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>heaven</string>
			<key>mergeMoney</key>
			<integer>4000</integer>
			<key>mergeScore</key>
			<integer>400000</integer>
			<key>removeMoney</key>
			<integer>4000</integer>
			<key>removeScore</key>
			<integer>400000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>inian</string>
			<key>mergeMoney</key>
			<integer>5000</integer>
			<key>mergeScore</key>
			<integer>500000</integer>
			<key>removeMoney</key>
			<integer>5000</integer>
			<key>removeScore</key>
			<integer>500000</integer>
		</dict>
		<dict>
			<key>item</key>
			<string>toilet</string>
			<key>mergeMoney</key>
			<integer>10000</integer>
			<key>mergeScore</key>
			<integer>1000000</integer>
			<key>removeMoney</key>
			<integer>10000</integer>
			<key>removeScore</key>
			<integer>1000000</integer>
		</dict>
	</array>
	<key>sounds</key>
	<array>
		<dict>
			<key>item</key>
			<string>bandit</string>
			<key>sound</key>
			<string>bandit1.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>bar</string>
			<key>sound</key>
			<string>bar.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>detective</string>
			<key>sound</key>
			<string>detective.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>joker</string>
			<key>sound</key>
			<string>jocker.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>casino</string>
			<key>sound</key>
			<string>casino.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>godfather</string>
			<key>sound</key>
			<string>father.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>gangster</string>
			<key>sound</key>
			<string>gangster.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>department</string>
			<key>sound</key>
			<string>ministr.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>minister</string>
			<key>sound</key>
			<string>ministerstvo.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>policeman</string>
			<key>sound</key>
			<string>officer.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>girl</string>
			<key>sound</key>
			<string>kiss.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>family</string>
			<key>sound</key>
			<string>family.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>money</string>
			<key>sound</key>
			<string>money.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>chief</string>
			<key>sound</key>
			<string>chef_police.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>sergeant</string>
			<key>sound</key>
			<string>serjant.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>banditcar</string>
			<key>sound</key>
			<string>bandit_car.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>policecar</string>
			<key>sound</key>
			<string>cop_car.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>prison</string>
			<key>sound</key>
			<string>prison.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>gun</string>
			<key>sound</key>
			<string>GUN.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>fbi</string>
			<key>sound</key>
			<string>FBI.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>demon</string>
			<key>sound</key>
			<string>devil.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>hell</string>
			<key>sound</key>
			<string>hell.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>police</string>
			<key>sound</key>
			<string>police.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>president</string>
			<key>sound</key>
			<string>president.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>angel</string>
			<key>sound</key>
			<string>GOD.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>heaven</string>
			<key>sound</key>
			<string>heaven.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>star</string>
			<key>sound</key>
			<string>star.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>inian</string>
			<key>sound</key>
			<string>inian.mp3</string>
		</dict>
		<dict>
			<key>item</key>
			<string>toilet</string>
			<key>sound</key>
			<string>toilet3.mp3</string>
		</dict>
	</array>
</dict>
</plist>
